footer {
  width: 100%;
  height: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  color: lightgray;
  text-decoration: none;
  transition: color 0.25s ease-in;
}

a img {
  height: 90%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7460%)
    hue-rotate(350deg) brightness(97%) contrast(99%);
}

a h1 {
  font-size: 1.7rem;
}

a:hover {
  cursor: pointer;
  color: salmon;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 2rem;
  }

  footer > a > h1 {
    font-size: 1.2rem;
  }
}
